* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f6f6f6;
    height: 100vh;
}

.players {
    display: flex;
    width: 500px;
    padding: 12px 24px;
    justify-content: space-around;
}

#grid {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
}

.grid-item {
    width: 100px;
    height: 100px;
    border: 1px solid #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    font-weight: 600;
}

.grid-item:hover {
    cursor: pointer;
}

.announce {
    padding: 12px;
    font-size: 18px;
}

.btn-section {
    padding: 12px;
}

.btn-reset {
    border: none;
    border-radius: 4px;
    padding: 10px 10px;
    width: 100px;
    color: #ffffff;
    font-weight: 600;
    font-size: 20px;
    background-color: #1e81ff;
}

.btn-reset:hover {
    cursor: pointer;
    background-color: #0074ff;
}